/*  OS PRIMEIROS PASSOS DO PROJETOS FORAM A CRIAÇÃO DO REPOSITORIO NO GITHUB, DEPOIS CLONADO O REPOSITORIO NO COMPUTADOR E FEITO O REMOTE*/
/*  EM SEGUIDA ABERTO A PASTA NO VSCODE, CRIADO O ARQUIVO INDEX E O STYLE*/
/*  DEPOIS REALIZADO A IMPORTAÇÃO DAS FONTES E OS ICONES A SEREM USADO NO SITE*/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper { /*a class definida no arquivo html pode ser repetir ao longo das págicas*/
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
.banner {
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1{
    color: #ffffff;
    font-size: 3em;
    font-family: "Baloo Da 2", sans-serif;
    font-weight: 200;
    text-shadow: 0.2rem 0.2rem 2px rgba(0,0,0,0.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
}

.banner p {
    color: #ffffff;
    font-size: 2rem;
    font-family: "josefin slab", serif;
    text-shadow: 0.2rem 0.2rem 2px rgba(0,0,0,0.4);
    margin-bottom: 2rem;
}

.banner button {
    font-family: "Mulish", sans-serif;
    color: #000;
    background: #DA4453;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 2rem;
}